@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
* {
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

#wrapper {
  display: flex;
  overflow: hidden;
}
.navbar-vertical {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  padding: 0;
  background-color: #212b36;
  border-right: 1px solid #212b36;
  transition: margin 0.25s ease-out;
  margin-left: 17px;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
  color: #f4f6f8;
}
.navbar-vertical .navbar-nav .nav-item .nav-link:hover {
  color: #f4f6f8;
}

.navbar-vertical .navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  color: #919eab;
  font-weight: 500;
  line-height: 1.8;
  -webkit-transition: all 0.5s;
  white-space: nowrap;
  transition: all 0.5s;
}
.navbar-vertical .navbar-nav .nav-icon {
  opacity: 0.6;
  font-size: 0.875rem;
  transition: all 0.5s;
}
.sub-menu {
  padding-left: 1rem;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s, transform 0.3s;
}

.sub-menu .nav-item .nav-link {
  color: #919eab;
  padding: 0.25rem 3rem;
}
.icon-toggle {
  cursor: pointer;
  filter: brightness(0) invert(1);
  transform: scale(0.8);
  transition: all 0.5s ease;
}
.sidebar-menu-item.open > .sub-menu {
  opacity: 1;
  transform: scaleY(1);
}

#nav-toggle {
  cursor: pointer;
}
.page-content {
  min-height: 100vh;
  margin-left: 250px;
  transition: margin 0.25s ease-out;
}

.toggled .sidebar {
  width: 0px;
  display: none;
}
.toggled .page-content {
  margin-left: 0;
}

.sidebar-menu-item a {
  /* display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 0.75rem; */
}

@media (min-width: 768px) {
  .navbar-vertical {
    margin-left: 0rem;
  }
}
