@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

:root {
  --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: #349eff;
    --second-color: #62b4ff;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sidebar-width: 300px;
    --border-radius: 15px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
}
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

#wrapper {
  display: flex;
  overflow: hidden;
}
.navbar-vertical {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  padding: 0;
  background-color: #212b36;
  border-right: 1px solid #212b36;
  transition: margin 0.25s ease-out;
  /* margin-left: 17px; */
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
  color: #f4f6f8;
}
.navbar-vertical .navbar-nav .nav-item .nav-link:hover {
  color: #f4f6f8;
}

.navbar-vertical .navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  color: #919eab;
  font-weight: 500;
  line-height: 1.8;
  -webkit-transition: all 0.5s;
  white-space: nowrap;
  transition: all 0.5s;
}
.navbar-vertical .navbar-nav .nav-icon {
  opacity: 0.6;
  font-size: 0.875rem;
  transition: all 0.5s;
}
.sub-menu {
  padding-left: 1rem;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s, transform 0.3s;
}

.sub-menu .nav-item .nav-link {
  color: #919eab;
  padding: 0.25rem 3rem;
}
.icon-toggle {
  cursor: pointer;
  filter: brightness(0) invert(1);
  transform: scale(0.8);
  transition: all 0.5s ease;
}
.sidebar-menu-item.open > .sub-menu {
  opacity: 1;
  transform: scaleY(1);
}

#nav-toggle {
  cursor: pointer;
}
.page-content {
  min-height: 100vh;
  min-width: 100vw;
  margin-left: 15.625rem;
  transition: margin 0.25s ease-out;
}

.toggled .sidebar {
  width: 0px;
  display: none;
}
.toggled .page-content {
  margin-left: 0;
}

.sidebar-menu-item a {
  /* display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 0.75rem; */
}

.header .navbar {
  padding: 0.625rem 1.5rem;
}

.navbar-classic {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.notification-item:hover {
  background-color: var(--second-bg);
}

.notification-item > i {
  margin-right: 20px;
  font-size: 1.5rem;
}

.topnav-right-user {
  display: flex;
  align-items: center;
}

.topnav-right-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnav-right-user-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topnav-right-user-name {
  font-size: 1rem;
  font-weight: 600;
}
.item-alert {
    height: 40px;
    width: 40px;
    background: #ccc !important;
    border-radius: 50%;
}

.content-header h1 {
  font-size: 1.8rem;
  margin: 0;
}

.content-header .breadcrumb {
  background-color: transparent;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0;
}
.border-none {
  border: none;
}
.table thead {
  background-color: #f4f6f9;
}
@media (min-width: 1200px)
{
  .card-title {
    font-size: 1rem;
}
}

@media (min-width: 576px){
  .float-sm-right {
    float: right !important;
  }
}


@media (min-width: 768px) {
  .toggled .sidebar {
    margin-left: -16px;
  }
  .navbar-vertical {
    margin-left: 0rem;
  }
  .page-content {
    min-width: 0;
    width: 100%;
  }
}
